body {
  font-family: 'Montserrat';
  text-align: center;
  height: 100%;
  background: black;
}

h1,h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-weight: 700;
}
p {
  color: #8f8f8f;
  padding: 1rem 1rem 1rem 0;
}

.restaurant-name{
  color: #FFA45B;
  font-size: 2.5rem;
  font-weight: bold;
text-align: center;
max-width: 100%;
}

.restaurant-info{
  padding: 2% 15%;
}

.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  padding: 5% 0;
}

.card-heading{
  font-family: 'Ubuntu';
  font-size: 1.75rem;
  font-weight: 500;
  color: black;
}

.card-heading:hover {
  color: #FFA45B;
  text-decoration: none

}

.card img {
  padding: 3.5% 3.5% 3.5% 6%;
  max-height: 18rem;
  /* max-width: 25rem; */
}

.card-body{
  padding-top: 0.5rem;
  text-align: left;
}

.btn-menu{
  margin: 0 1rem 0 0;
}

.btn-menu:hover {
  background-color: #FFA45B;
  color: black;
}


.btn-rw{
  background-color: black;
  color: #FFA45B;
}
