.container {
  font-family: 'Montserrat';
  text-align: center;
  height: 100%;
  background: black;
  font-weight: 700;
}

.card-display1{
  width: 300px;
  background: white;
}

.card-display{
  display: inline-block;
  padding-bottom: 2rem;
}

i{
  margin-bottom: 30px;
}


h1,h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-weight: 700;
}
p {
  color: black;
  padding: 0.3rem 0.3rem 0.3rem 0;
}

.categorie-name{
  color: #FFA45B;
  font-size: 2.5rem;
  font-weight: bold;
text-align: center;
max-width: 100%;
}

.cat-info{
  padding: 40px 25px;
}

.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;


}

.card-heading{
  font-family: 'Ubuntu';
  font-size: 1.75rem;
  font-weight: 500;
  color: black;
}

.card-heading:hover {
  color: #FFA45B;
  text-decoration: none

}

.card img {
  max-height: 15rem;
}

.btn-more{
  background-color: black;
  color: #FFA45B;
}
