body {
  font-family: 'Montserrat';
  text-align: center;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-weight: 700;
}

.big-heading {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #FFA45B;
}

.heading-spacing {
  padding-right: 3%;
}

.section-heading {
  font-size: 2.5rem;
  line-height: 1.5;
}

.logo-img {
  width: 12%;
  padding-bottom: 15px;
}

.container-fluid {
  padding: 3% 11% 3%;
}

/* Navigation bar */
/* .navbar-custom .navbar-brand,
.navbar-custom .nav-item {
  color: #FFA45B;
} */
.navbar {
  padding: 0 0 5.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-weight: 300;
  font-size: 1.2rem;
}

/* Download buttons */
.download-button {
  width: 35%;
  height: 15%;
  margin: 5% 3% 5% 0;
}

.download-button:hover {
  background-color: #FFA45B;
    color: black;
}

/* Title section */
#title {
  background-color: black;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 7% 7%;
}

/* Title img */
.title-img {
  /* width: 60%; */
  /* transform: rotate(25deg);
  position: absolute; */
  /* right: 30%; */
  padding-right: 3%;
  padding-top: 2%;
  width: 110%;
}

.title-decs {
  color: #8f8f8f;
  font-size: 1.3rem;
  line-height: 1.2;
}

/* Features */
#features {
  background-color: #fff;
  position: relative;
  /* z-index: 1; */
}

.feature-box {
  padding: 5% 5% 2%;
}

.icon {
  width: 4rem;
  margin-bottom: 1rem;
}

.features-img {
  width: 90%;
}

.three-features {
  font-size: 1.4rem;
}

p {
  color: #8f8f8f;
}

/* .feature-desc{
  color: #8f8f8f;
} */
.big-features {
  font-size: 2rem;
}

/* About-us */
#about-us {
  background-color: black;
}

#about-us .container-fluid {
  padding: 7% 9% 2%;
}

.about-content {
  text-align: left;
}

.about-heading {
  color: #FFA45B;
  font-size: 2.5rem;
}

.about-desc {
  color: #8f8f8f;
  font-size: 1.3rem;
  line-height: 2.35rem;
  padding: 15px 0 4px;
}

.about-img {
  width: 70%;
  height: 85%;
  border-radius: 5%;
}

/* Sponsors */
#sponsors {
  background-color: black;
  padding-bottom: 1%;
}

.sponsor-heading {
  color: #FFA45B;
  font-size: 1.75rem;
}

.press-logo {
  width: 7%;
  margin: 25px 88px 50px;
}

/* Blogs */
#blogs {
  padding: 40px 25px;
}

.cards-wrapper {
  display: flex;
  /* justify-content: center; */
}

.card img {
  max-height: 15rem;
}

.card-desc {
  padding: 3% 3%;
}

.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}

.carousel-item active, .carousel-item {
  padding: 0 8%;
}

.carousel-control-prev,
.carousel-control-next {
  filter: invert(100%);
}

/* FAQS */
#faqs {
  background-color: black;
  height: 100%;
  padding: 50px 0;
}

.faq-heading {
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 0;
}

.mt-5, .my-5 {
    width: 95%;
    padding: 0 100px;
    margin-top: 1.2rem;
}

.container{
  padding-right: 0;
  padding-left: 0;
}

.accordion .card{
  background: none;
}

.card-one{
  padding-top: 0;
}

.accordion .card-header h3{
  color: #FFA45B;
  font-size: 2rem;
}

.accordion .card-header i{
  font-size: 1.3rem;
  position: absolute;
  top: 15px;
  right: 1rem;
}

.accordion .card-body{
  padding: 0;
}

/* Contact */
.contact-heading{
  padding-left: 4rem;
  text-align: left;
  font-size: 2.5rem;
  line-height: 1.5;
}

.contact-desc{
  padding-left: 4rem;
  text-align: left;
  color: #8f8f8f;
  font-size: 1rem;
  line-height: 1.5rem;
}

.contact-button{
  margin-top: 35px;
  margin-right: 40px;
  background-color: #FFA45B;
  color: black;
}

/* Footer */
#footer{
  background-color: #fff;
}

.footer-logo{
  padding: 1rem;
}
